*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

h2{
    color: hsla(0, 0%, 100%, 0.75)
}

p, h2{
    color: hsla(0, 0%, 100%, 0.75)
}

main{
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex-items{
    height: 18rem;
    padding: 10px 12px;
}


#bright-orange{
    background-color: hsl(31, 77%, 52%);
}


#dark-cyan{
    background-color: hsl(184, 100%, 22%);
}

#very-dark-cyan{
    background-color:hsl(179, 100%, 13%);
}

#bright-orange .btn{
    color: hsl(31, 77%, 52%);
}

#dark-cyan .btn{
    color: hsl(184, 100%, 22%);
}
#very-dark-cyan .btn{
    color: hsl(179, 100%, 13%);
}

.btn{
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 50px;
}

#bright-orange .btn:hover{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

#dark-cyan .btn:hover{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

#very-dark-cyan .btn:hover{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}
